<div class="col-md-10">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

<div class="container">
  <div class="row">
  <div class="col-md-2"><strong>Procedures</strong></div>
  <div class="col-md-2">
<div class="nested-fields">
 <%= f.input :type %>
 <%= link_to_remove_association "remove procedure", f %>
 </div>

 <%= f.button :submit %>
  </div>
 </div>


    </div>
  </div>
</div>
</div>
</div>