/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    margin-bottom: 0px;
    width: 100%;
    height: 550px;
    opacity: 1;
    visibility: inherit;
    background-image: url("/images/medical.jpg");
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: none;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px; 
}

.color-box {
    padding-top: 40px;
    padding-bottom:40px;
	color: #fff;
	background-color: #2a76af !important;
	position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
}