<div class="footer">
  <div class="container">
	<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8"><h4>Newcity App <small>by Onixmediadesign</small></h4></div>
    <div class="col-xs-6 col-md-4"></div>
   </div> 
</div>
</div>